
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

*{
  box-sizing: border-box; 
  outline:none;
}

.App{

  width:100%;
  margin:auto;
}

h1,h2{
 font-family: 'Passion One', cursive;
 color: #E2C139;
 letter-spacing:6px;
 
}

/*------H E A D E R---------*/


.header ul{
  list-style:none;
  display:flex;
  justify-content:space-between;
  width:40%;  
  margin-right:20px;
  margin-top:10px;
  
}

.header ul li a{
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  color: #857D7D;
  font-size:0.8em;
  font-weight:bolder;
  letter-spacing:2px;  

} 

.header ul li +li{
  margin-left:30px
}
.header{
  display:flex;
  justify-content:flex-end;
  width:100%;
  height:120px;
  margin-bottom:0;
  background-image:url("./Components/logo.png");    
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------I L L U S T R A T I O N---------*/

.illustrations img{
 
  width:90%;
  height:420px;
  object-fit:cover;
  transition: 2s;
  
}
.illustrations  img:hover{
  transform:scale(1.3)
 }

.images{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-top:0px;
  background: #E4CAB8;
  padding-bottom:20px;
}
 .illustrations{
  width:427px;
  height:450px;
  text-align:center;
 }   

/*----------H O M E-------------*/
.home{
  margin-top:0;
}
.home h1{
  text-align:center;
  margin-top:0;
  font-size:1.5em;
  animation: moove1 4s linear; 
    }
    @keyframes moove1{
      0% {letter-spacing:2px}
      25% {letter-spacing:5px}
      50%{letter-spacing:7px} 
      75%{letter-spacing:9px} 
      100%{letter-spacing:12px} 
     
    }
.home .illustrations img{
 
  width:90%;
  height:390px;
  object-fit:cover;
  z-index:-1;
} 



.home section{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top:50px;
  padding:20px;
  background: #E4CAB8;
  
}

.home .illustrations .titre p{
   font-family: 'Passion One', cursive;
   letter-spacing:12px;
   color:white;
   font-size:2.5em;
   width:90%;
   padding:120px 0  180px 0;
   border:white 1px solid;
   text-align:center;
   z-index:1;
   
}
.home .illustrations .titre {
    display:flex;
    justify-content:center;
    text-align:center;   
    width:90%;
    height:45%;
    position:absolute;
    top:0%;
    left:5%;
    cursor:pointer;
    z-index:1;
  
}
.home .illustrations {
   position:relative;
   width:350px;
   height:400px;
   text-align:center;
  
}

.home .hide{
 opacity:0;
}
.home .show{
  opacity:1;
 
}

.home .opacityNo{
  opacity:1;
}

.home .opacityYes{
  opacity:0.5;
}
/*----------P A T T E R N S-------------*/


.patterns{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
 
}

.patterns .titre{
  display:flex;
  flex-direction:column;
 align-items:center;
  
  
}
.patterns .titre h1{
  font-size: 2.5em;
  letter-spacing: 10px;
  margin-top:0;
  margin-bottom:0
}
.patterns .titre h2{
   
   margin-top:0;
   letter-spacing:0;
  }
 
.patterns .image1{
  width:92%;
  height:400px;
  object-fit:cover;
  margin-top:20px;
  background: #F4EABE;
  display:flex;
  justify-content:center;
  align-items:center;
  animation: background 5s linear infinite; 
  background-size:cover;
  
}  


.patterns .images{
  background: #F4EABE;    
   
}



@keyframes background{

0% {background-image:url("./Assets/Illustration_sans_titre-6.png")}
35% {background-image:url("./Assets/Illustration_Pattern1_BG6.png")}
70% {background-image:url("./Assets/Illustration_Pattern1_BG4.png")}
100% {background-image:url("./Assets/Illustration_Pattern1_BG2.png")}

}

/*----------F A S H I O N-------------*/
.fashion{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}


 h1{
  font-size: 2.5em;
  letter-spacing: 10px;
  margin-top:0;
  margin-bottom:20px;
  text-align:center;
}
 
/*----------P O R T R A I T S-------------*/
.portraits{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.portraits .images{
  background-color:#c7bc9e;
}
 
/*----------N A T U R E-------------*/

.nature .image1{
  width:92%;
  height:500px;
  object-fit:cover;
  margin-top:20px;
  background: #C6BD9E;
  display:flex;
  justify-content:center;
  align-items:center;

}
.nature .images{
  background-color:#C6BD9E;
}

.nature .titre{
  display:flex;
  flex-direction:column;  
  
}
.nature .images{
  position: relative;
}
.nature .papillon{
  position:absolute;
  top:380px;
  right:660px;
  width:100px;
  animation: buterfly 4s linear ; 
  
}

@keyframes buterfly {
  from {top:180px;}
  to {top:380px;}
} 

.nature .titre h1{
  font-size: 2.5em;
  letter-spacing: 10px;
  margin-top:0;
  margin-bottom:20px;
  text-align:center;
}
.nature .titre h2{
   
   margin-top:0;
   letter-spacing:0;
   text-align:center;
  }
  /*----------F O O T E R-------------*/

  .footer .copyrights{
      font-family: 'Roboto', sans-serif;
      font-size:0.8em;
      color: #857D7D;
      display:flex;
     
      justify-content:center;
      align-items:center;
      margin:50px 0 10px 10px;
  }

  .footer .copyrights svg{
      padding:0 2px 0 5px;
    
     
  }
   .findme{
      margin:30px 0;
      height:180px;
      margin-top:100px;
      padding-bottom:0;
      display:flex;
      flex-direction:column;
      align-items:flex-start;

}
  .findmeimg{
      width:100%;
      height:1800px;
      padding-bottom:0;
      background-image:url("./Components/findme.png");
      background-repeat: no-repeat;
      background-size:100% 100%;
      

}
 .findme ul{
      list-style:none;
      display:flex;
      justify-content:center;
      align-items:center;
      margin-top:0;
      padding-top:0;
      width:100%;
     
}

.footer ul li+li{
      margin-left:10px;

}
 
 
    /*----------C O N T A C T-------------*/

    form{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      width:60%;
      height:500px;
      margin-top:20px;
      margin-bottom:20px;
      padding-bottom:15px;
      border:1px solid white;
      border-radius:10px;
      

    }
    form input{
      width:80%;
      height:40px;
      margin-top:25px;   
      font-size:0.8em;
      font-weight:bolder;
      font-family: 'Roboto', sans-serif;
      opacity:0.8;
       border:none;
    }

     form textarea{
        width:80%;
        height:200px;
        margin-top:25px;      
        font-size:0.8em;
        font-weight:bolder;
        padding-top:10px;
        font-family: 'Roboto', sans-serif;
        opacity:0.8;
        border:none;
     }

    
     .cm .contact{
        width:100%;
        height:600px;
         margin-top:40px;
        margin:auto;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        background-image:url("./Assets/Illustration_Nature7.png");
        background-position:right bottom;
     }
     .cm{
        width:100%;
        padding-top:10px;   
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
       
       
     }
     form input[type="submit"] {
        color:white;
        background-color: #E2C139;
        width:100px;
        border-radius:8px;
        border:none;
        text-align:center;
        opacity:1;
        font-size:0.9em;
        font-weight:bolder;
    
     }
     .cm h1{ 
        font-size:2em;  
        font-family: 'Passion One', cursive;
        letter-spacing:2px;
        padding-bottom:30px;
      
     }
       /*----------W O R K-------------*/
      .cards{
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:space-around;
        flex-wrap:wrap;
        margin:auto;
        margin:20px 5px;
      }
      .work h1{
        font-size: 2.5em;
        letter-spacing: 10px;
        text-align:center;
        padding-top:0;
        margin-top:0;
      }
      .work h2{
        position:absolute;
        top:320px;
        color:white;
        font-size:3em;    
        text-align:center;
       
      }

      .work .littlestories .illustrations img{
        width:145px;
        height:160px;
        object-fit:cover;
        margin:0;
        padding:0;
       
      }
      .work .littlestories .illustrations{
        width:150px;
        height:180px;
        display:flex;
        justify-content:center;
        align-items:center;
        
      }
      .work .illustrations  img:hover{
        transform:none;
      }
      .littlestories{
        display:flex;
        flex-direction:column;
        align-items:center;
        width:360px;
        height:800px;
        margin-top:20px;
        position:relative;
         
      }
      .work1{
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-wrap:wrap;
        width:360px;
        height:400px;
        background-color:#F4EABE;
        padding:10px 0;
      
      }
      .work2{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        width:360px; 
        height:400px;     
        margin-top:5px;
        background-color:#F4EABE;
       

      }
      .work3{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:800px;
        width:360px;  
       
      }
      .fabricpatterns{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:360px;
        height:800px;
        margin-top:20px;    
        position:relative;
      }
      .work .fabricpatterns .illustrations img{
        width:360px;
        height:800px;
        object-fit:cover;
      
  
      
      }
      .work .fabricpatterns .illustrations{
         width:50%;
         display:flex;
        justify-content:center;
        align-items:center;
        
      }
      .book{
        width:360px;
    
        height:800px;
         margin-top:20px;
        display:flex;
        justify-content:center;
         position:relative;
        
      }
      .work .book .illustrations img{
         width:360px;
        height:800px;
        object-fit:cover;
       
      } 
      .work .book .illustrations{
        display:flex;
        align-items:flex-start;
        justify-content:center;

      }

 /*----------S H O P-------------*/
    .shop{
      width:100%;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }
    .shop .title{
      width:100%;
    }
    .shop .title p{
      font-family: 'Roboto', sans-serif;
      color: #857D7D;
      font-size:1em;
      font-weight:bolder;
      text-align:center;
      margin:5px 0 20px 0;
      animation: moove 5s linear infinite; 
    }
    @keyframes moove{
      0% {letter-spacing:2px}
      25% {letter-spacing:10px}
      50%{letter-spacing:20px} 
      75%{letter-spacing:40px} 
      100%{letter-spacing:70px} 
     
    }
     .shop .title h1{
        margin-bottom:0;
        padding:0;
       }
    .shop .shopimg {
       width:100%;
       height:auto;
    }
    .shop .shopimg img{
      width:100%;
      height:720px;
      object-fit:cover;
    }

/*-------R E S P O N S I V E--------*/
    
    /*---PHONE---*/

      @media (max-width:420px){

        .header{
           background-size: 290% 70%;
           width:100vw;        
        }
       
        .header ul {
          width:30%;
          display:flex;
          flex-direction:column;
          flex-wrap:wrap;
          margin-top:5px;
          margin-right:10px;  
          
        }
    
        .header ul li +li{
          margin-left:0px;
       
        }
        .header ul li a{
          font-size:0.7em;
        }  
     
         .findmeimg{
          width:100%;
          height:20vh;
          padding-bottom:0;
          background-image:url("./Components/findme2.png");
          background-repeat: no-repeat;
          background-size:120% 70%;

        }
        .patterns .titre{
          margin-left:0;
        }
        .home h1{
          font-size:0.5em;
          margin-top:20px;
          letter-spacing:4px;
          margin-bottom:0;
          padding-bottom:0;
          animation: moove1 4s linear; 
        }
        @keyframes moove1{
          0% {letter-spacing:0px}
          25% {letter-spacing:1px}
          50%{letter-spacing:2px} 
          75%{letter-spacing:3px} 
          100%{letter-spacing:4px} 
     
    }
        .findme ul{
          padding-right:20px;
        }
         .findme ul li svg{  
          width:25px;
         
        }
        .findme ul li +li{
          margin-left:5px;
        }
        .cm .contact{
          width:100%;
          height:500px;
          background-size:cover;
           margin-top:0px;
        }
        
        .cm .contact form{
            margin:20px;
            height:400px;

        }
        .home .hide{
          opacity:1;
        }
        .home .show{
        opacity:1;
 
        }

      .home .opacityNo{
          opacity:1;
        }

      .home .opacityYes{
          opacity:1;
        }
      .shop .shopimg img{
        width:100%;
        height:350px;
        
      }  
      .shop .shopimg {
        width:100%;
        height:350px;
      }
      
      .shop .title p{
      font-family: 'Roboto', sans-serif;
      color: #857D7D;
      font-size:1em;
      font-weight:bolder;
      text-align:center;
      margin:5px 0 20px 0;
      animation: moove 4s linear infinite; 
    }
    @keyframes moove{
      0% {letter-spacing:2px}
      25% {letter-spacing:5px}
      50%{letter-spacing:10px} 
      75%{letter-spacing:15px} 
      100%{letter-spacing:20px} 
     
    }  
    .patterns .image1{
      width:92%;
      height:350px;
      object-fit:cover;
      margin-top:20px;
      animation: background 7s linear infinite; 
      background-size:100% 100%;
  
    }  
    .illustrations  img:hover{
        transform:scale(1.3);
    }
    .nature .image1{
      width:92%;
      height:350px;
      object-fit:cover;
      margin-top:20px;
       }  

    .home .illustrations .titre { 
      width:90%;
      height:45%;
      position:absolute;
      top:0%;
      left:5%;
      z-index:1;
  
}  
  }
    /*---I PAD---*/

     @media(max-width:768px){
        .header ul li a{
          font-size:0.7em;
        }  
        .header ul {
          width:30%;
          flex-direction:column;
        }
        .footer .findme img{
          width:450px;
        }
        .patterns .titre{
          margin-left:0;
        }
        .home h1{
          font-size:1.2em;
          margin-top:10px
        }
        .patterns .image1{  
          height:180px;
          object-fit:cover;
        }
        .cm .contact form{
            margin:20px;
            height:400px;
            width:500px;

        }
        .contact form input,textarea{
          height:25px;
          margin-top:20px; 
          font-size:0.8em;

        }
        .findmeimg{
          width:100%;
          height:100vh;
          padding-bottom:0;
          background-image:url("./Components/findme2.png");
          background-repeat: no-repeat;
          background-size:100% 70%;

        }
      
        .findme ul{
          padding-right:20px;
        }
        .cm .contact{
          width:100%;
          height:500px;
          background-size:cover;
         
        }
        .cm .contact .h1{
          padding-bottom:30px;
        }
        .home .hide{
          opacity:0;
        }
        .home .show{
          opacity:1;
 
        }

        .home .opacityNo{
          opacity:1;
        }

        .home .opacityYes{
          opacity:1;
        }
        .shop .title p{
      font-family: 'Roboto', sans-serif;
      color: #857D7D;
      font-size:1em;
      font-weight:bolder;
      text-align:center;
      margin:5px 0 20px 0;
      animation: moove 4s linear infinite; 
    }
    @keyframes moove{
      0% {letter-spacing:2px}
      25% {letter-spacing:10px}
      50%{letter-spacing:12px} 
      75%{letter-spacing:15px} 
      100%{letter-spacing:20px} 
     
    }
        
      }

        @media(max-width:1100px){
        .header ul {
          flex-wrap:wrap
        }                
         .header ul li +li{
        margin-left:0px;
       
        }
        .home h1{
          font-size:1.2em;
          margin-top:10px
        }
        .findmeimg{
          width:100%;
          height:100px;
          background-size: 100% 80%;
          padding-bottom:0;
        
        }
    }

   